@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

pre[class*="language"] {
    @apply px-8 py-8;
}

code[class*="language-"],
pre[class*="language-"] {
    @apply text-sky-300;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-lime-700;
}

.token.punctuation {
    @apply text-gray-300;
}

.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-emerald-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-orange-400;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-yellow-600;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.property {
    @apply text-sky-600;
}

.token.function,
.token.class-name {
    @apply text-yellow-200;
}

.token.regex,
.token.important,
.token.variable {
    @apply text-yellow-600;
}

.line-number::before {
    @apply w-4 text-right ml-0 mr-5 inline-block text-gray-400;
    content: attr(line);
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -0.8em;
    padding-right: 0.4em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.prose a {
    @apply transition-all;
}

.prose .anchor:after {
    @apply text-sky-500;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}
